*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.idea
.scala_dependencies
.worksheet

# check in compiled JavaScript
!target/scala-2.12
target/scala-2.12/*
!target/scala-2.12/real-estate-modeling-jsdeps.js
!target/scala-2.12/real-estate-modeling-opt.js

# Javascript specific
node_modules
